@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    hr {
        color: grey;
    }

    a {
        color: mediumturquoise;
    }

    a:visited {
        color: mediumpurple;
    }
}